*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: green;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-logo{
    float: left;
}
.header .header-logo a{
    color:#fff;
    text-decoration: none;
}
.header .header-right{
    float: right;
}
.header .header-right li{
    float: left;
    list-style: none;
    margin-left: 15px;
}
.header .header-right li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 0 12px;
}

/*-- banner-section-start --*/
.banner{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 30px;
    position: relative;
}
.banner::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
}
.banner .banner-text{
    padding: 300px 0px;
    position: relative;
    z-index: 1;
    color: #fff;
}
.banner .banner-text h1{
    font-size: 45px;
}
.banner .banner-text p{
    font-size: 18px;
    margin: 25px 0;
    line-height: 30px;
}
 .common-btn{
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 25px;
    background-color: green;
    border-radius: 30px;
    display: inline-block;
    transition: .3s;
    border: 2px solid #fff;
    position: relative;
    padding-right: 40px;
}
.common-btn::after{
    position: absolute;
    content: '\f061';
    font-family: "Font Awesome 5 Free";
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    /* -webkit-animation: bounce 2s linear 0s infinite alternate;
    animation: bounce 2s linear 0s infinite alternate; */
}
/* @-webkit-keyframes bounce {
    50% {
    -webkit-transform(translateY(-30px));
    }
    100% {
    -webkit-transform(translateY(0px));
    }
    } */
.common-btn:hover{
    color: green;
    background-color: #fff;
    box-shadow: 5px 5px 20px #000;
    border: 2px solid green;
}
.common-btn:hover::after{
    right: 10px;
}
/*-- banner-section-start --*/

/*-- about-section-start --*/
.about{
    display: flex;
    padding: 0 30px;
    margin: 120px 0px;
}
.hadding{
    text-align: center;
    margin: 80px 0 60px;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
}
.about .single-about{
    width: 25%;
    background-color: beige;
    border: 2px solid green;
    border-radius: 15px;
    overflow: hidden;
    /* padding: 15px; */
    margin: 0 15px;
    transition: .3s;
}
.about-img{
    height: 400px;
    overflow: hidden;
    position: relative;
}
.about-img .img-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    z-index: 1;
    transition: .3s;
    visibility: hidden;
    transform: translate(-50%, -50%);
}
.single-about:hover .img-logo{
    visibility: visible;
}
.about-img .img-logo li{
    list-style: none;
    margin: 0 7px;
}
.about-img .img-logo li a{
    text-decoration: none;
    background-color: green;
    height: 50px;
    width: 50px;
    line-height: 52px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    transition: .3s;
    position: relative;
    border: 2px solid white;
    z-index: 1;
}
.about-img .img-logo li a::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid green;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(.5);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: -1;
}
.about-img .img-logo li a:hover::after{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-img .img-logo li a i{
    font-size: 22px;
    color: #fff;
}
.about-img .img-logo li a:hover i{
    color: green;
}
.about-img::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    transform: scale(.5);
    transition: .3s;
    opacity: 0;
}
.single-about:hover .about-img::after{
    transform: scale(1);
    opacity: .7;
}
.about-img img{
    max-width: 100%;
}
.about-text{
    text-align: center;
    padding: 60px 75px 30px;
    color: green;
}
.about-text h3{
    font-size: 22px;
    text-transform: uppercase;
}
.about-text p{
    margin: 15px 0;
}
/*-- about-section-end --*/

/*-- service-section-start --*/
.service-section{
    padding:0px 120px 120px;
}
.service-section .hadding{
    margin: 120px;
}
.services{
    display: flex;
    justify-content: center;
}
.services .single-service{
    width: 350px;
    color: #fff;
    height: 350px;
    border-radius: 15px;
    background-color: beige;
    text-align: center;
    padding: 34px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0 77px;
}
.services .single-service::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    background-color:green;
    z-index: -1;
    transform: rotate(45deg);
}
.services .single-service .service-icon i{
    font-size: 40px;
}
.services .single-service h4{
    font-size: 26px;
    margin: 20px 0;
}
.services .single-service p{
    font-size: 22px;
}
/*-- service-section-end --*/


